.DS_Store
.vscode
paper.aux
paper.bbl
paper.bcf
paper.blg
paper.fdb_latexmk
paper.fls
paper.glg
paper.glo
paper.gls
paper.ist
paper.log
paper.out
paper.run.xml
paper.synctex.gz
paper.tdo
paper.toc
paper.upa
paper.upb
pdflatex2336.fls
paper.synctex(busy)