.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.log
*.out
*.run.xml
*.synctex.gz
*.tdo
*.toc
*.upa
*.upb
Open MDMA.tex
pdflatex2336.fls
*.synctex(busy)
*.4ct
*.4tc
*.css
*.dvi
*.idv
*.lg
*.ncx
*.tmp
*.xhtml
*.xref
*.svg
*.opf
Open_MDMA-epub3
papers
temp